<% include ./partials/_head %>

<body>
  <% include ./partials/_header %>
  <main id="one-resource">
    <div>
      <section class="content">
        <h1><%= resource[0].title %></h1>

        <img src="<%=  topic[0].default_img %>" alt="">
        <h2></h2>
        <section class="ratings">
          <a href="/rating/1/<%= resource[0].id %>"><i class="far fa-star"></i></a>
          <a href="/rating/2/<%= resource[0].id %>"><i class="far fa-star"></i></a>
          <a href="/rating/3/<%= resource[0].id %>"><i class="far fa-star"></i></a>
          <a href="/rating/4/<%= resource[0].id %>"><i class="far fa-star"></i></a>
          <a href="/rating/5/<%= resource[0].id %>"><i class="far fa-star"></i></a>
        </section>

        <div>
          <a href="<%= resource[0].url %>"><%= resource[0].url %></a>
        </div>
        <div>
          <p><%= resource[0].description %></p>
        </div>
      </section>
      <section>
        <h3>Comments</h3>

        <form class="comment-form" action="/resources/<%= card_id %>" method="POST">
          <div class="form-group">
            <textarea class="form-control" name="text" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="box-comment">

          <% for (var comment of commentsuser) { %>
          <article>
            <div class="user-profile">
              <%= comment.username %>
              <% if (comment.username && comment.resource_id){
                  comment.username
              } %>
            </div>
            <div class="user-comment">
              <%= comment.text %>
            </div>

          </article>
          <% } %>
        </div>
      </section>

    </div>
  </main>
</body>

</html>
